<ol class="flow">
  <li class="select_industry">选择行业</li>
  <li class="select_attrs">选择买方与卖方的参考指标</li>
  <li class="select_reference_buyers">选择参考的买家</li>
  <li class="get_similar_buyers">获取与之相似的且没有并购记录的企业，从中选择并购企业</li>
  <li class="get_similar_targets">获取与 2 中的企业的置入资产相似的目标企业，从中选择合适的目标企业</li>
  <li class="show_result">获得最终的并购方案</li>
</ol>