<h1>行业: <%= @industry.name %></h1>
<%= form_tag mockup_similar_buyer_path, method: :get, role: 'form' do %>
<p><label class='bg-info'>蓝色</label>公司为有并购的公司</p>
<%= render 'buyer', buyers: @buyers %>
<%= submit_tag("获取置入资产", class: "btn btn-primary") %>
<% end %>
