<h1>选择要查询的行业</h1>
<%= form_tag mockup_buyer_path, method: :get, role: 'form' do %>
  <div class="form-group">
    <%= select_tag(:industry_id, options_for_select(@industries.map { |ind| [ind.name, ind.id] }), class: 'form-control') %>
  </div>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
