<h1>选择要查询的行业</h1>
<%= form_tag '', role: 'form' do %>
  <div class="form-group">
    <%= select_tag(:industry,
                   options_for_select([['农业', 1], ['畜牧业', 2], ['渔业', 3], ['有色金属矿采选业', 4], ['食品制造业', 5]]),
                   class: 'form-control') %>
  </div>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
