<h2>选择的企业</h2>
<%= render 'buyer', buyers: @reference_buyers, can_check: false, attrs: @buyer_attrs %>
<h2>相似的企业</h2>
<p>请在这里选择一个感兴趣的卖家</p>
<%= form_tag mockup_target_path, method: :get, role: 'form' do %>
<%= render 'buyer', buyers: @result, can_check: true, attrs: @buyer_attrs %>
<%= submit_tag("获取置入资产", class: "btn btn-primary") %>
<% end %>
