<h1>选择的企业</h1>
<%= render 'buyer', buyers: @buyers, can_check: false %>
<h1>相似的企业</h1>
<%= form_tag mockup_target_path, method: :get, role: 'form' do %>
<%= render 'buyer', buyers: @result, can_check: true %>
<%= submit_tag("获取置入资产", class: "btn btn-primary") %>
<% end %>
