.target-table-container {
  overflow: auto;
}

table.target-table {
  table-layout: fixed;
  width: auto;
  max-width: auto;
  th {
    min-width: 40px;
    &.date {
      min-width: 100px;
    }
    &.name {
      min-width: 150px;
    }
  }
}
